In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
df = pd.read_csv("clean_data.csv", low_memory=False)

In [4]:
df

,location,property_area,street,features,bed,bath,toilet,description,price
0,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000.0
1,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000.0
2,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000.0
3,ajah,abijo,Amity estateAbijo Ajah Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 bedrooms duplex,1700000.0
4,ajah,abijo,Amty estateAbijo Ajah Lagos,3 beds 3 baths 4 Toilets,3,3,4,Newly built 3 bedroom duplex,2000000.0
...,...,...,...,...,...,...,...,...,...
28557,yaba,yaba,Alagomeji Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,"Executive, furnished and serviced mini flat",1400000.0
28558,yaba,yaba,Fola Agoro Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly built mini flat,1200000.0
28559,yaba,yaba,"Alagomeji, Yaba.Alagomeji Yaba Lagos",2 beds 2 baths 3 Toilets,2,2,3,Lovely Luxurious 2 Bedroom all rooms ensuite flat,1500000.0
28560,yaba,yaba,"Alagomeji-Adekunle, Yaba.Yaba Lagos",3 beds 3 baths 4 Toilets,3,3,4,Luxurious 3 Bedroom all rooms ensuite flat (Up...,1800000.0
28561,yaba,yaba,"In a Gated, Serene & Serviced Estate, Adekunle...",3 beds 3 baths 4 Toilets,3,3,4,Executive 3 Bedroom Flat + Bq,2500000.0

In [14]:
df[df.duplicated(subset=None, keep=False)]

Empty DataFrame
Columns: [location, property_area, street, features, bed, bath, toilet, description, price]
Index: []

In [46]:
df[df["description"].str.lower().str.contains("terrace" or "furnished" or "service")]

,location,property_area,street,features,bed,bath,toilet,description,price
16,ajah,abijo,Fara Park EstateAbijo Ajah Lagos,3 beds 0 baths 0 Toilets,3,0,0,Brand new 3 bedroom terrace duplex,1500000.0
33,ajah,abijo,- Abijo Ajah Lagos,4 beds 0 baths 0 Toilets,4,0,0,4 bedroom terrace duplex,1500000.0
98,ajah,abijo,-Abijo Ajah Lagos,4 beds 4 baths 5 Toilets,4,4,5,Large Sized 4 Bedroom Terrace Duplex,1500000.0
166,ajah,abraham-adesanya-estate,Lekki Garden EstateAbraham Adesanya Estate Aja...,4 beds 4 baths 5 Toilets,4,4,5,4 bedroom terrace duplex at Ajah,2000000.0
172,ajah,abraham-adesanya-estate,-Abraham Adesanya Estate Ajah Lagos,4 beds 5 baths 5 Toilets,4,5,5,4bedroom semi terrace duplex at lekki gardens ...,1700000.0
...,...,...,...,...,...,...,...,...,...
28265,yaba,sabo,Yaba LagosSabo Yaba Lagos,3 beds 3 baths 4 Toilets,3,3,4,Brand New 3 Bedrooms terrace Duplex With A Roo...,2800000.0
28276,yaba,sabo,saboSabo Yaba Lagos,3 beds 3 baths 0 Toilets,3,3,0,Serviced 3 bedroom Terrace+bq near marda barra...,2800000.0
28308,yaba,sabo,PalmSabo Yaba Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 bedroom terrace duplex,3500000.0
28309,yaba,sabo,LittleSabo Yaba Lagos,4 beds 5 baths 6 Toilets,4,5,6,"4 bed terrace duplex with a bq, 2 living room ...",3500000.0
28438,yaba,sabo,connal road. Sabo Yaba Lagos,4 beds 5 baths 4 Toilets,4,5,4,luxurious 4 bedroom terraces duplex + bq,2800000.0

In [43]:
df["specific_location"] = df["location"].astype(str) + df["property_area"].astype(str)
df.head()

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location
0,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000.0,ajahabijo
1,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000.0,ajahabijo
2,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000.0,ajahabijo
3,ajah,abijo,Amity estateAbijo Ajah Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 bedrooms duplex,1700000.0,ajahabijo
4,ajah,abijo,Amty estateAbijo Ajah Lagos,3 beds 3 baths 4 Toilets,3,3,4,Newly built 3 bedroom duplex,2000000.0,ajahabijo

In [ ]:
# df['new_price'] = df.groupby(['specific_location', 'bed'])['price'].transform(lambda grp: grp.fillna(grp.mean()))

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28562 entries, 0 to 28561
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location           28562 non-null  object
 1   property_area      28562 non-null  object
 2   street             28562 non-null  object
 3   features           28562 non-null  object
 4   bed                28562 non-null  int64
 5   bath               28562 non-null  int64
 6   toilet             28562 non-null  int64
 7   description        28562 non-null  object
 8   price              28562 non-null  float64
 9   specific_location  28562 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 2.2+ MB

In [44]:
def _85th(x):
    return x.quantile(0.90)
def _15th(x):
    return x.quantile(0.10)

In [45]:
df['_85th'] = df.groupby(['property_area', 'bed'])['price'].transform(_90th)
df['_15th'] = df.groupby(['property_area', 'bed'])['price'].transform(_10th)
df.head()

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location,_85th,_15th
0,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000.0,ajahabijo,500000.0,250000.0
1,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,650000.0,ajahabijo,500000.0,250000.0
2,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000.0,ajahabijo,500000.0,250000.0
3,ajah,abijo,Amity estateAbijo Ajah Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 bedrooms duplex,1700000.0,ajahabijo,1780000.0,1270000.0
4,ajah,abijo,Amty estateAbijo Ajah Lagos,3 beds 3 baths 4 Toilets,3,3,4,Newly built 3 bedroom duplex,2000000.0,ajahabijo,1200000.0,500000.0

In [7]:
df.shape

(28562, 12)

In [47]:
df.drop(df[(df['price'] > df['_85th']) | (df['price'] < df['_15th'])].index, inplace=True)

In [48]:
df.shape

(24141, 12)

In [49]:
df.drop(["_85th", "_15th"], axis=1, inplace=True)
df

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location
0,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000.0,ajahabijo
2,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000.0,ajahabijo
3,ajah,abijo,Amity estateAbijo Ajah Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 bedrooms duplex,1700000.0,ajahabijo
7,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 2 baths 2 Toilets,1,2,2,A newly built room and parlor self contained (...,450000.0,ajahabijo
8,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,1 Bedroom Apartment / Flat to rent in Lekki,400000.0,ajahabijo
...,...,...,...,...,...,...,...,...,...,...
28556,yaba,yaba,...Yaba Lagos,1 beds 2 baths 3 Toilets,1,2,3,Executive Newly built 2bedroom flat,1000000.0,yabayaba
28558,yaba,yaba,Fola Agoro Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly built mini flat,1200000.0,yabayaba
28559,yaba,yaba,"Alagomeji, Yaba.Alagomeji Yaba Lagos",2 beds 2 baths 3 Toilets,2,2,3,Lovely Luxurious 2 Bedroom all rooms ensuite flat,1500000.0,yabayaba
28560,yaba,yaba,"Alagomeji-Adekunle, Yaba.Yaba Lagos",3 beds 3 baths 4 Toilets,3,3,4,Luxurious 3 Bedroom all rooms ensuite flat (Up...,1800000.0,yabayaba
28561,yaba,yaba,"In a Gated, Serene & Serviced Estate, Adekunle...",3 beds 3 baths 4 Toilets,3,3,4,Executive 3 Bedroom Flat + Bq,2500000.0,yabayaba

In [12]:
df.isnull().sum()

location             0
property_area        0
street               0
features             0
bed                  0
bath                 0
toilet               0
description          0
price                0
specific_location    0
dtype: int64

In [50]:
df["rank"] = df.groupby(['specific_location'])['price'].rank(method='dense')
df

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location,rank
0,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room and parlour,500000.0,ajahabijo,9.0
2,ajah,abijo,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,350000.0,ajahabijo,5.0
3,ajah,abijo,Amity estateAbijo Ajah Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 bedrooms duplex,1700000.0,ajahabijo,23.0
7,ajah,abijo,Destiny home estateAbijo Ajah Lagos,1 beds 2 baths 2 Toilets,1,2,2,A newly built room and parlor self contained (...,450000.0,ajahabijo,8.0
8,ajah,abijo,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,1 Bedroom Apartment / Flat to rent in Lekki,400000.0,ajahabijo,7.0
...,...,...,...,...,...,...,...,...,...,...,...
28556,yaba,yaba,...Yaba Lagos,1 beds 2 baths 3 Toilets,1,2,3,Executive Newly built 2bedroom flat,1000000.0,yabayaba,2.0
28558,yaba,yaba,Fola Agoro Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,Newly built mini flat,1200000.0,yabayaba,3.0
28559,yaba,yaba,"Alagomeji, Yaba.Alagomeji Yaba Lagos",2 beds 2 baths 3 Toilets,2,2,3,Lovely Luxurious 2 Bedroom all rooms ensuite flat,1500000.0,yabayaba,4.0
28560,yaba,yaba,"Alagomeji-Adekunle, Yaba.Yaba Lagos",3 beds 3 baths 4 Toilets,3,3,4,Luxurious 3 Bedroom all rooms ensuite flat (Up...,1800000.0,yabayaba,5.0
28561,yaba,yaba,"In a Gated, Serene & Serviced Estate, Adekunle...",3 beds 3 baths 4 Toilets,3,3,4,Executive 3 Bedroom Flat + Bq,2500000.0,yabayaba,6.0

In [35]:
df['rank'].dtype

dtype('float64')

In [51]:
df = df.sort_values('rank')
df

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location,rank
13002,ikeja,toyin-street,Toyin Street Ikeja Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Room Self Contain at Ikeja - N350k,350000.0,ikejatoyin-street,1.0
26497,yaba,fola-agoro,FolaFola Agoro Yaba Lagos,1 beds 1 baths 1 Toilets,1,1,1,standard self contained,300000.0,yabafola-agoro,1.0
4682,ajah,sangotedo,Silver Land EstateSangotedo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room self contain,250000.0,ajahsangotedo,1.0
4671,ajah,sangotedo,Siverland estate alhaji aburamon stSangotedo A...,1 beds 1 baths 1 Toilets,1,1,1,Standard self contain,250000.0,ajahsangotedo,1.0
9996,ikeja,adeniyi-jones,-Adeniyi Jones Ikeja Lagos,1 beds 1 baths 1 Toilets,1,1,1,self contain,350000.0,ikejaadeniyi-jones,1.0
...,...,...,...,...,...,...,...,...,...,...,...
14894,lekki,lekki-phase-1,Lekki phase1Lekki Phase 1 Lekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly built 4br terrace duplex with a room bq,6500000.0,lekkilekki-phase-1,66.0
14922,lekki,lekki-phase-1,Lekki Phase 1 Lekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,4 Bedroom Terraced with bq,6500000.0,lekkilekki-phase-1,66.0
14934,lekki,lekki-phase-1,By oniru market road .lekki rightLekki Phase 1...,4 beds 4 baths 5 Toilets,4,4,5,Spacious *4 Bedroom Semi-Detached House,6500000.0,lekkilekki-phase-1,66.0
15144,lekki,lekki-phase-1,Off Admiralty wayLekki Phase 1 Lekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly built 4 bedroom duplex for commercial us...,6500000.0,lekkilekki-phase-1,66.0
18460,lekki,lekki-phase-1,--Lekki Phase 1 Lekki Lagos,4 beds 4 baths 5 Toilets,4,4,5,A Lovely 4 Bedroom Fully Detached Duplex,6500000.0,lekkilekki-phase-1,66.0

In [56]:
df1 = df.sort_values('price')
df1

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location,rank
13628,ikorodu,agric,Agbede transformerAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,60000.0,ikoroduagric,1.0
13532,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Standard room self contained,60000.0,ikoroduagric,1.0
13435,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Room self contained,60000.0,ikoroduagric,1.0
13524,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room Self Contain,60000.0,ikoroduagric,1.0
13500,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Room Self Contain,60000.0,ikoroduagric,1.0
...,...,...,...,...,...,...,...,...,...,...,...
11126,ikeja,ikeja-gra,Ikeja GRA.Lagos MainlandIkeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Luxury Executive 4bed Rooms Deatched Duplex wi...,8000000.0,ikejaikeja-gra,36.0
11215,ikeja,ikeja-gra,FANI KAYODE STREETIkeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly Built 4 Bedroom Detached house,8000000.0,ikejaikeja-gra,36.0
11417,ikeja,ikeja-gra,Ikeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly Built Luxury 4 Bedroom Semi-Detached Dup...,8000000.0,ikejaikeja-gra,36.0
11201,ikeja,ikeja-gra,Ikeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly Renovated 4 Bedroom Terrace Duplex in a ...,8000000.0,ikejaikeja-gra,36.0
11293,ikeja,ikeja-gra,OGUNNIKE GRAIkeja Gra Ikeja Lagos,4 beds 5 baths 6 Toilets,4,5,6,A 4bedroom Duplex with 2BQ in a Serene Neighbo...,8000000.0,ikejaikeja-gra,36.0

In [61]:
labelencoder = LabelEncoder()
df1["label_df"] = labelencoder.fit_transform(df1['specific_location'])

In [62]:
df1

,location,property_area,street,features,bed,bath,toilet,description,price,specific_location,rank,label_df
13628,ikorodu,agric,Agbede transformerAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Mini flat,60000.0,ikoroduagric,1.0,52
13532,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Standard room self contained,60000.0,ikoroduagric,1.0,52
13435,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Room self contained,60000.0,ikoroduagric,1.0,52
13524,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Room Self Contain,60000.0,ikoroduagric,1.0,52
13500,ikorodu,agric,Agbede IkoroduAgric Ikorodu Lagos,1 beds 1 baths 1 Toilets,1,1,1,Decent Room Self Contain,60000.0,ikoroduagric,1.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...
11126,ikeja,ikeja-gra,Ikeja GRA.Lagos MainlandIkeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Luxury Executive 4bed Rooms Deatched Duplex wi...,8000000.0,ikejaikeja-gra,36.0,41
11215,ikeja,ikeja-gra,FANI KAYODE STREETIkeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly Built 4 Bedroom Detached house,8000000.0,ikejaikeja-gra,36.0,41
11417,ikeja,ikeja-gra,Ikeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly Built Luxury 4 Bedroom Semi-Detached Dup...,8000000.0,ikejaikeja-gra,36.0,41
11201,ikeja,ikeja-gra,Ikeja Gra Ikeja Lagos,4 beds 4 baths 5 Toilets,4,4,5,Newly Renovated 4 Bedroom Terrace Duplex in a ...,8000000.0,ikejaikeja-gra,36.0,41
11293,ikeja,ikeja-gra,OGUNNIKE GRAIkeja Gra Ikeja Lagos,4 beds 5 baths 6 Toilets,4,5,6,A 4bedroom Duplex with 2BQ in a Serene Neighbo...,8000000.0,ikejaikeja-gra,36.0,41

In [57]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from math import sqrt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_curve,auc
from sklearn.metrics import r2_score

In [66]:
features = df1.loc[:, ["bed", "bath", "toilet", "label_df", "rank"]].copy()
target = df1.loc[:, "price"].copy()

In [67]:
X_train, X_test, y_train, y_test = train_test_split(np.array(features), np.array(target), test_size = 0.2, random_state = 0)
X_train

array([[ 2.,  2.,  2., 23., 13.],
       [ 3.,  0.,  0., 29., 19.],
       [ 3.,  3.,  3., 21., 14.],
       ...,
       [ 2.,  2.,  3., 92., 13.],
       [ 2.,  2.,  2., 23., 14.],
       [ 1.,  1.,  1., 20.,  1.]])

In [68]:
regressor = RandomForestRegressor(n_estimators=100, random_state=0)
regressor.fit(X_train, y_train)
y_predict = regressor.predict(X_test)

print('mean absolute error: {:.2f}'.format(mean_absolute_error(y_test, y_predict)))
print('mean squared error: {:.2f}'.format(mean_squared_error(y_test, y_predict)))
print('root mean squared error: {:.2f}'.format(np.sqrt(mean_squared_error(y_test, y_predict))))
print('r2_score: {:.2f}'.format(r2_score(y_test, y_predict)))

mean absolute error: 15378.17
mean squared error: 5808591009.63
root mean squared error: 76214.11
r2_score: 1.00